*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/background_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 1096px;
  width: 1440px;
}
.container {
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  max-width: 1240px;
  margin: 30px 100px;

  /* height: 1036px; */
  /* margin: 30px 100px; */
  /* margin-top: 30px; */
}
.container .title {
  /* max-width: 1240px; */
  /* max-height: 90px; */
  padding-top: 15px;
  /* background-color: #c4c4c4;
  opacity: 0; */
  /* border: 2px solid red; */
}

.container .title .title1 h1 {
  color: #ffffff;
  font-family: "Bowlby One", cursive;
  font-weight: 400;
  font-size: 50px;
  /* line-height: 0%; */
  /* display: flex; */
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
}
span {
  color: #ff0000;
}
.description {
  padding-bottom: 15px;
}
.description p {
  font-family: "Sorts Mill Goudy", serif;
  font-weight: 400;
  font-size: 23px;
  color: #ffffff;
  /* display: flex; */
  align-items: center;
  text-align: center;
  /* line-height: 0%; */
}
.survey-form {
  margin: 0px 370px 1px 370px;
  padding-top: 10px;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}
.box {
  margin: 20px 0px 0px 40px;
}
.box label {
  display: block;
  padding-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
}
.box input {
  width: 420px;
  height: 60px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.box select {
  width: 420px;
  height: 60px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.movie {
  margin: 20px 0px 20px 40px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.gender {
  margin-left: 40px;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.feed {
  margin-left: 40px;
  padding-top: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
#feedback {
  margin-top: 5px;
  padding-top: 9px;
  width: 420px;
  height: 91.46px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.btn input {
  margin: 15px 150px 16px;
  width: 160px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #ff0000;
  border-radius: 50px;
  color: #fcfcfc;
}
label {
  color: white;
  /* display: block; */
  /* padding-bottom: 16px; */
}
